<script src="https://accounts.google.com/gsi/client" async defer></script>

<div
  class="card bg-dark position-absolute top-50 start-50 translate-middle border border-danger rounded-3"
>
  <div class="card-body">
    <!--LOGIN FORM-->
    <form
      class="form"
      id="registerFormID"
      [formGroup]="registerForm"
      (ngSubmit)="register()"
    >
      <div class="form-group form-floating mt-1">
        <input
          type="text"
          class="form-control"
          id="firstnameID"
          name="firstname"
          placeholder="FirstName"
          formControlName="firstname"
        />
        <label for="firstnameID">First Name</label>
      </div>
      <div class="form-group form-floating mt-1">
        <input
          type="text"
          class="form-control"
          id="lastnameID"
          name="lastname"
          placeholder="LastName"
          formControlName="lastname"
        />
        <label for="lastnameID">Last Name</label>
      </div>
      <div class="form-group form-floating mt-1">
        <input
          type="email"
          class="form-control"
          id="emailID"
          name="email"
          aria-describedby="emailHelp"
          placeholder="Email"
          autofocus
          formControlName="email"
        />
        <label for="emailID">Email</label>
        <!-- <small id="emailHelp" class="form-text text-muted"
          >email</small
        > -->
      </div>
      <div class="form-group form-floating mt-1">
        <input
          type="password"
          class="form-control"
          id="passwordID"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <label for="passwordID">Password</label>
      </div>

      <div class="row">
        <button type="submit" class="col btn btn-danger mt-3 mx-3">
          Register
        </button>
      </div>
    </form>
    <div class="mt-3 d-flex justify-content-center">
      <!-- GOOGLE -->
      <div
        id="g_id_onload"
        data-client_id="869245493728-jcr4ussoue4u3eu7e020s37gvee8kp05.apps.googleusercontent.com"
        data-context="signup"
        data-ux_mode="popup"
      ></div>
      <div
        class="g_id_signin"
        data-type="standard"
        data-shape="pill"
        data-theme="outline"
        data-text="signup_with"
        data-size="large"
        data-logo_alignment="left"
        (click)="registerWithGoogle()"
      ></div>
    </div>
    <div>
      <button class="btn btn-success" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
