<div class="container-fluid mb-1 border-bottom border-dark">
  <nav class="navbar navbar-expand-md w-100">
    <tr>
      <td>
        <a class="navbar-brand" href="#" [routerLink]="['/']"
          ><img class="w-25 h-25" src="assets/51.png" alt="Logo"
        /></a>
      </td>
      <td>
        <button
          class="navbar-toggler"
          type="button"
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="navbarSupportedContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </td>
    </tr>

    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav col-auto ms-auto text-end">
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/about']">
            About
          </a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['/borrowed']">Stores</a>
        </li> -->

        <!-- <li>
        <form
          class="d-flex ms-auto"
          role="search"
          [formGroup]="searchForm"
          (ngSubmit)="search()"
        >
          <input class="form-control me-2" type="search" placeholder="Search" />
          <button class="btn btn-outline-primary me-2" type="submit">
            Search
          </button>
        </form>
      </li> -->
        <li *ngIf="isLoggedIn; else Login">
          <!-- <button class="btn btn-outline-danger" type="button" (click)="logout()">
          Logout
        </button> -->
          <div ngbDropdown class="ms-auto">
            <button
              type="button"
              class="btn btn-primary"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              {{ givenname | titlecase }}
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="text-end dropdown-menu-end">
              <button ngbDropdownItem [routerLink]="['/profile']">Profile</button>
              <button ngbDropdownItem [routerLink]="['/borrowed']">Borrowed Instruments</button>
              <button ngbDropdownItem [routerLink]="['/stores']">Managed stores</button>
              <button
                ngbDropdownItem
                class="bg-danger text-light"
                (click)="logout()"
              >
                Logout
              </button>
            </div>
          </div>
        </li>
      </ul>

      <ng-template #Login>
        <button
          class="btn btn-primary col ms-auto text-end"
          type="button"
          [routerLink]="['/login']"
        >
          Login
        </button>
      </ng-template>
    </div>
  </nav>
</div>
