<ng-template #Loading>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>

<div *ngIf="instrumentList; else Loading">
  <div class="row">
    <button type="button" class="btn btn-primary col-auto m-1" (click)="openPopup()">
      Add Instrument
    </button>
    <button type="button" class="btn btn-primary col-auto m-1">
      Add Manager
    </button>
  </div>

  <app-table-instruments>
    [instrumentList]="instrumentList" ></app-table-instruments
  >
</div>
