<script src="https://accounts.google.com/gsi/client" async defer></script>

<div
  class="card bg-dark position-absolute top-50 start-50 translate-middle border border-danger rounded-3"
>
  <ng-template class="card-body" #displayUser>
    <div class="form-group">
      <label>First Name</label>
      <input
        type="text"
        class="form-control"
        [value]="socialUser.firstName"
        id="firstname"
        readonly
      />
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input
        type="text"
        class="form-control"
        [value]="socialUser.lastName"
        id="lastname"
        readonly
      />
    </div>
    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        [value]="socialUser.email"
        id="email"
        readonly
      />
    </div>
    <button type="button" (click)="logout()" class="btn btn-primary">
      Log Out
    </button>
  </ng-template>
  <div class="card-body" *ngIf="!isLoggedIn; else displayUser">
    <!--LOGIN FORM-->
    <form
      class="form"
      id="loginFormID"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <div class="form-group form-floating">
        <input
          type="email"
          class="form-control"
          id="emailID"
          name="email"
          aria-describedby="emailHelp"
          placeholder="Email"
          autofocus
          formControlName="email"
        />
        <label for="emailID">Email</label>
        <!-- <small id="emailHelp" class="form-text text-muted"
          >email</small
        > -->
      </div>
      <div class="form-group form-floating mt-1">
        <input
          type="password"
          class="form-control"
          id="passwordID"
          name="password"
          placeholder="Password"
          formControlName="password"
        />
        <label for="passwordID">Password</label>
      </div>

      <div class="col-12 text-center">
        <button type="submit" class="w-75 btn btn-danger mt-3 mx-3">
          Log In
        </button>

        <div class="w-75 mt-3 mx-3">
          <!-- GOOGLE -->
          <div
            id="g_id_onload"
            data-client_id="869245493728-jcr4ussoue4u3eu7e020s37gvee8kp05.apps.googleusercontent.com"
            data-context="signup"
            data-ux_mode=""
            data-login_uri="http://localhost:8080/api/auth/google"
            data-auto_prompt="false"
          ></div>
          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="outline"
            data-text="signup_with"
            data-size="medium"
            data-logo_alignment="left"
          ></div>
        </div>

        <button
          type="button"
          class="w-75 btn btn-outline-light mt-3 mx-3"
          [routerLink]="['/register']"
        >
          Register
        </button>
      </div>
    </form>
  </div>
</div>
